fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
mlflow==3.12.0
scikit-learn>=1.6.0
lightgbm
xgboost
imbalanced-learn
pandas
numpy
optbinning
category_encoders
PyYAML
psycopg2-binary
joblib
scipy